In [187]:
# print function
print('Uday Vikram Singh')

Uday Vikram Singh

In [188]:
print('Uday'+' loves ML.')

Uday loves ML.

In [189]:
print(9)

9

In [190]:
print(3+2)

5

In [191]:
# Basic Datatypes

In [192]:
type(8)

int

In [193]:
type(3.9)

float

In [194]:
type('uday')

str

In [195]:
# Constant and Variables

In [196]:
man='uday'
print(man)

uday

In [197]:
man='abhay'
print(man)

abhay

In [198]:
a,b,c=9,8,2.3
print(a,b,c)

9 8 2.3

In [199]:
x=y=z=2
print(x,y,z)

2 2 2

In [200]:
# Input

In [201]:
a=int(input('First No.: '))
b=int(input('Second No.: '))

In [202]:
print(a+b)

4

In [203]:
arr=map(int,input('Enter nos.: ').split())

In [204]:
print(sum(arr))

2

In [205]:
# Basic Data Types in Python

In [206]:
# Integer
a=8
print(a)

8

In [207]:
type(a)

int

In [208]:
# Complex no
c=1+3j
print(c)

(1+3j)

In [209]:
type(c)

complex

In [210]:
# Conversion 
x=10
print(type(x))
y=float(x)
type(y)

<class 'int'>

float

In [211]:
a=True
b=False
print(a,b)

True False

In [212]:
a=7<3

In [213]:
print(a)

False

In [214]:
# String

In [215]:
s='Machine Learning'

In [216]:
my_s='Uday '+ 'Vikram Singh'

In [217]:
type(my_s)

str

In [218]:
print(my_s*5)

Uday Vikram SinghUday Vikram SinghUday Vikram SinghUday Vikram SinghUday Vikram Singh

In [219]:
new=my_s[5:12]

In [220]:
print(new)

Vikram

In [221]:
print(my_s[::2])

Ua irmSnh

In [222]:
print("Uday loves "+"Machine Learning.")

Uday loves Machine Learning.

In [223]:
# Special Data Types - List, Tuples, Set, Dictionary

In [224]:
# List - should be encosed in square brackets

In [225]:
mylist=[1,2,3]
mylist[0]

1

In [226]:
l=[1,1.2,'a']
l

[1, 1.2, 'a']

In [227]:
# add elements to list
l.append('uday')

In [228]:
l

[1, 1.2, 'a', 'uday']

In [229]:
l.insert(1,'one')
l

[1, 'one', 1.2, 'a', 'uday']

In [230]:
2

2

In [231]:
len(l)

5

In [232]:
# initiate an empty list
l1=[]
l1

[]

In [233]:
l1.append('uday vikram')
l1

['uday vikram']

In [234]:
l3=l1+l
l3

['uday vikram', 1, 'one', 1.2, 'a', 'uday']

In [235]:
# Tuple - should be enclosed in parenthesis

In [236]:
t=(1,2,)
t

(1, 2)

In [237]:
# converting a list into tuple
l2t=list(t)
l2t

[1, 2]

In [238]:
# tuples are immutable which means they are not changable

In [239]:
len(t)

2

In [240]:
# Set - should be enclodes in {}

In [241]:
# set does not allow duplicate values
s={2,1,2,3,4}
s

{1, 2, 3, 4}

In [242]:
# Dictionary - stores key-value pairs

In [243]:
my_d={'name':'uday vikram singh',
      'age':20,
      'gender':'male'}
my_d

{'name': 'uday vikram singh', 'age': 20, 'gender': 'male'}

In [244]:
type(my_d)

dict

In [245]:
my_d['name']
my_d['age']

20

In [246]:
# Operators in Python

In [247]:
a,b=2,3
a+b

5

In [248]:
a-b

-1

In [249]:
a*b

6

In [250]:
a/b

0.6666666666666666

In [251]:
a//b

0

In [252]:
a%b

2

In [253]:
a**b

8

In [254]:
a>b

False

In [255]:
a<b

True

In [256]:
a==b

False

In [257]:
a=98
b=977

In [258]:
a=a+5
a

103

In [259]:
a=5
b=10

a==b

False

In [260]:
a!=b

True

In [261]:
a>b

False

In [262]:
a<b

True

In [263]:
a<=b

True

In [264]:
a>=b

False

In [265]:
# Logical Operators

In [266]:
a^b

15

In [269]:
a<b or b<a

True

In [270]:
a<b and b<a

False

In [273]:
# Identity - is / is not

In [274]:
a is b

False

In [275]:
a is not b

True

In [271]:
# Membership Operator - in / not in
arr=[1,2,'uday',True]
1 in arr

True

In [272]:
22 in arr

False

In [276]:
'uday' in arr

True

In [278]:
'uday vik'  in arr

False

In [277]:
'uday vik' not in arr

True

In [279]:
# If else statement

In [280]:
a=10
b=4

if a>b: print(a)
else: print(b)

10

In [285]:
a=input()
b=input()

if a>b: print(a)
else: print(b)

In [289]:
a,b=81,10
c=200
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

200

In [294]:
a,b=81,10
c=200
if a>c:
    if a>b:
        print(a)

elif b>a:
    if b>c:
        print(b)
else:
    print(c)

200

In [295]:
# Loops in Python

In [296]:
# It is used to repeat certain activity again and again

In [297]:
for i in range(6):
    print("Uday Vikram Singh")

Uday Vikram Singh
Uday Vikram Singh
Uday Vikram Singh
Uday Vikram Singh
Uday Vikram Singh
Uday Vikram Singh

In [298]:
nums=[]

for i in range(4):
    nums.append(input())

print(nums)

['uday', '1', '234', 'fj']

In [299]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [301]:
# Function - a block of code that can be reused in program

In [324]:
# Factorial

def fact(n,arr):
    if n<=1: return n

    if arr[n]!=-1: return arr[n]

    arr[n]=n*fact(n-1,arr)
    return arr[n]

n=10
arr=[-1]*(n+1)
arr[0]=1
arr[1]=1
print(fact(n,arr))
print(arr)

3628800
[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]